# Base de datos PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dulcinea_vip?schema=public"

# JWT
JWT_SECRET="dulcinea-exclusive-vip-super-secret-jwt-key-2024"
JWT_EXPIRES_IN="8h"

# Servidor
PORT=3000
NODE_ENV=development

# Frontend URL (CORS)
FRONTEND_URL="http://localhost:4200"
